server:
  port: ${server.port:8082}  # Default is 8082ï¼Œcan be overridden by `-Dserver.port` VM option

spring:
  application:
    name: user-service

springdoc:
  swagger-ui:
    path: /docs         # Access URL becomes http://localhost:8080/docs
  api-docs:
    path: /openapi.json # Raw JSON URL http://localhost:8080/openapi.json

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    # Use the INSTANCE_ID passed via JVM to identify different instances.
    # Default to <application-name>-<random-value>.
    instance-id: ${INSTANCE_ID:${spring.application.name}-${random.value}}
    prefer-ip-address: true
    hostname: 127.0.0.1